:root {
  --logo-blue: #03ACC0;
  --logo-yellow: #FDC033;
  --logo-text: #2C2C2A;

  --logo-blue-dark: #026773;
  --logo-yellow-dark: #B68002;
  --logo-text-dark: #1B1B19;

  --logo-blue-light: #06E3FB;
  --logo-yellow-light: #FDCD5D;
  --logo-text-light: #575754;
  
  --background: #f5f5f4;
  --foreground: var(--logo-text);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
